<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.submit '작성', class: "btn purple lighten-1", :data => {:confirm => '글을 올리시겠습니까?'}%>
  </div>


<% end %>
