<%= form_for @post do |f| %>

  <h2>질문 작성</h2>

  <div class="field">
    <%= f.label :title, '질문' %>
    <%= f.text_field :title %>
  </div><br>

  <div class="field">
    <%= f.label :image, "image", class: "material-icons" %>
    <%= file_field_tag :image %>
  </div><br>

  <div class="field">
    <%= f.label :content, '내용' %>
    <%= f.text_area :content %>
  </div><br>

  <div class="input-field">
    <%= f.submit '작성', class: "btn purple lighten-1" %>
    <%= link_to '목록', posts_path, class: "btn purple lighten-1" %>
  </div>


<% end %>
